.dialog-base-impl {
    --paper-dialog: {
        width: 100vw;
        height: 100vh;
        max-width: var(--app-dlg-max-width);
        max-height: var(--app-dlg-max-height);
        overflow: scroll;
        padding: 0px;
        font-size: var(--app-font-size-input);
        color: var(--app-color-title);
    };
    --paper-dialog-title: {
        color: var(--app-color-title);
        font-size: var(--app-font-size-larger);
        font-weight: 600;
        line-height: 1.5em;
    };
    --paper-input-container-label: {
        font-size: var(--app-font-size-input);
    };
    --paper-input-container-input: {
        font-size: var(--app-font-size-input);
        color: var(--app-color-input);
    };
    --paper-button: {
        color: var(--app-color-button);
        text-transform: none;
        border-style: var(--app-border-style-normal);
        border-width: var(--app-border-width-normal);
        width: 45%;
    };
}

.dialog-close {
    position: absolute;
    right: 16px;
    top: 16px;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    color: var(--app-color-title);
}
