.message-item-card {
    margin: 5px 0px 0px 10px;
    width: 94%;
    border-radius:0.1em;
}

.container {
    color: var(--app-color-blue-text);
}

.flexchild  {
    margin-left: 15px;
}

.sender {
    font-size: var(--app-font-size-large);
}

.posted {
    margin-left: 15px;
}

.text {
    @apply --app-word-wrapping;
    white-space: pre-wrap;
}
