<paper-dialog dynamicAlign="true" class="dialog channel-create-dialog" backdrop layered="false" #dlg>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="title">
      Add New Channel
      <paper-icon-button class="dialog-close" icon="icons:close" (click)="close()"></paper-icon-button>
    </div>
    <div class="form-group">
      <paper-input id="name" name="name" formControlName="name"
                   label="@name"
                   type="text"
                   class="form-control"
                   auto-validate
                   errorMessage="This field is required">
      </paper-input>
    </div>
    <div class="form-group">
      <paper-input id="disp" name="disp" formControlName="disp"
                   label="Display name"
                   type="text"
                   class="form-control"
                   auto-validate
                   errorMessage="This field is required">
      </paper-input>
    </div>
    <div class="form-group">
      <paper-input id="desc" name="desc" formControlName="desc"
                   label="Description"
                   type="text"
                   class="form-control"
                   auto-validate>
      </paper-input>
    </div>
    <div class="form-group">
      <paper-checkbox id="isPrivate" name="isPrivate" formControlName="isPrivate"
                      class="form-control">Is private channel?
      </paper-checkbox>
    </div>
    <div class="buttons">
      <paper-button id="okButton" class="button"
                    type="submit" raised
                    [disabled]="!form.valid"
                    (click)="onSubmit()">OK
      </paper-button>
    </div>
  </form>
</paper-dialog>
