.message-item-card {
    margin: 10px 0px 0px 2%;
    width: 95%;
    border-radius: 0.3em;
}

.container {
    color: var(--app-color-text);
}

.flexchild  {
    margin-left: 20px;
}

.sender {
    font-size: var(--app-font-size-large);
}

.posted {
    font-size: var(--app-font-size-small);
}

.text {
    @apply --app-word-wrapping;
    white-space: pre-wrap;
    color: var(--app-color-msg);
}
