.message-input-container {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: calc(100% - 320px);
    border: none;
    background: var(--app-color-body);
}

.message-input-card {
    width: 95%;
    margin: 1% 2%;
    padding: 0.5em 1em;
    box-shadow: 0px 0px 12px 0px var(--primary-color);
}

paper-textarea {
    --paper-input-container-label: {
        font-size: var(--app-font-size-input);
    };
    --paper-input-container-input: {
        font-size: var(--app-font-size-input);
        color: var(--app-color-input);
    };
    --paper-input-container-underline: {
        display: none;
    };
    --paper-input-container-underline-focus: {
        display: none;
    };
    @apply --app-word-wrapping;
}
