.message-input-container {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: calc(100% - 320px);
    border: none;
    background: var(--app-color-body);
}

.message-input-card {
    width: 95%;
    margin: 1% 2%;
    padding: 0.5em 1em;
    box-shadow: 0px 0px 12px 0px var(--primary-color);
}

.message-input-field {
    --paper-input-container-input-color: var(--app-color-green);
    --paper-input-container-underline: {
        display: none;
    }
    --paper-input-container-underline-focus: {
        display: none;
    }
    @apply --app-word-wrapping;
}
