#userMenu .menu-trigger-container {
    text-align: right;
}

.app-logged-user {
    width: var(--app-panel-width-desktop);
    margin: 2% 0;
    padding: 16px 8px;
    color: var(--app-color-white);
    background-color: transparent;
    box-shadow: none;
}

.app-logged-user .flexchild {
    margin-left: 10%;
    margin-top: 3%;
}

.app-logged-user .display-name {
    font-size: var(--app-font-size-large);
    font-weight: normal;
}

.app-header-main-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-list {
    margin-bottom: 90px;
}

.menu-content {
    padding: 0px;
}

@media (max-width: 600px) {
    .app-logged-user {
        width: 97vw;
    }
}